<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856874831173-icq3f6n9rmvaavldb9imjghlntrvpftg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856874831173-icq3f6n9rmvaavldb9imjghlntrvpftg</string>
	<key>API_KEY</key>
	<string>AIzaSyCFlDjpFF7P-ca9UGSHwB4K6zUnWi4lmqk</string>
	<key>GCM_SENDER_ID</key>
	<string>856874831173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Corey.DemoTest2</string>
	<key>PROJECT_ID</key>
	<string>demotest2-97b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>demotest2-97b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:856874831173:ios:3145029c94287168</string>
	<key>DATABASE_URL</key>
	<string>https://demotest2-97b6f.firebaseio.com</string>
</dict>
</plist>
